.city {
    text-align: center;
    color: white;
    font-size: 60px;
}
.time {
    font-size: 40px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
body {
    background: url(images/bg.png) center center no-repeat  fixed;
    background-size: cover;
}
button {
    background: #1F2A41;
    color: white;
    font-size: 24px;
    border-radius: 12px;
    margin-left: 2%;
    width: 150px;
    text-decoration: none;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #2734e4 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
}
input {
    background: #1F2A41;
    color: white;
    font-size: 24px;
    border-radius: 12px;
}
.rectangle{
    width: 260px;
    height: 110px;
    background-color: #1F2A41;
    background: url(images/rainSun.png) center no-repeat;
    
}
.rectangle2{
    width: 260px;
    height: 110px;
    background-color: #1F2A41;
    background: url(images/cloudSunV2.png) center no-repeat;
    
}
.rectangle3{
    width: 260px;
    height: 110px;
    background-color: #1F2A41;
    background: url(images/rainSunV2.png) center no-repeat;
    
}
.rectangles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.rectangleDown {
    width: 260px;
    height: 200px;
    background-color: #1F2A41;
    text-align: center;
    color: white;
    font-size: 60px; 
    border-radius: 12px;
}
.Temperature {
    vertical-align: top;
    color: white;
    font-size: 60px; 
}
.wind {
    color: white;
    font-size: 22px;
    text-align: left;
    margin-top: 10px;
}