<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styleNow.css">
    <title>Погода сегодня</title>
</head>
<header>
    <ul>
        <li id="today"><a href="./weatherNow.html">Сегодня</a></li>
        <li id="threeDays"><a href="./weatherThreeDays.html">3 дня</a></li>
        <li id="week"><a href="./week.html">Неделя</a></li>
        <li id="tenDays"><a href="./tenDays.html">10 дней</a></li>
    </ul>
</header>
<body>
    <div class="container">
        <div class="search">
            <i id="IconlocV1"></i>   
            <input placeholder="Введите названия локации">
            <button class="lupa"></button>
        </div>
            <div class="BigRectangle">
                <div class="BigRectangleTop">
                    <i id="Iconloc">
                    </i>
                    <p class="city">
                        Населенный пункт
                    </p>
                </div>
                <div class="BigRectangleMid">
                    <div class="IconTemp">
                        <div id="IconTempCenter"></div>
                        <p class="TempCenter"></p>
                    </div>
                    <div class="time">
                        <p id="date">Apr 20</p>
                        <p id="Hour">21:47</p>
                    </div>
                </div>
                <div class="BigRectangleDown">
                    <p>Скорость ветра:</p>
                    <p>Давление, мм. рт. ст.:</p>
                    <p>Влажность:</p>
                </div>
                <div class="BigRectangleDownData">
                    <p id="BRWind">6 м/с</p>
                    <p id="BRPressure">748 мм.</p>
                    <p id="BRHumidity">70 %</p>
                </div>
            </div>
        <div class="rectangles">
            <div class="rectangle">
                <div class="timeDown" id="timeDownOne">4:00</div>
                <div class="rectangleBg"></div>
                <div class="Temperature" id="TempOne">0°C</div>
                <div class="IconsWeather">
                    <div class="wind"></div>
                    <div class="airPressure"></div>
                    <div class="humidity"></div>
                </div>       
                <div class="WeatherText">
                    <p>6 м/c</p>
                    <p>748 мм.</p>
                    <p>70 %</p>
                </div> 
            </div>
            <div class="rectangle2">
                <div class="timeDown" id="timeDownTwo">8:00</div>
                <div class="rectangleBg2"></div>
                <div class="Temperature" id="TempTwo">-1°C</div>
                <div class="IconsWeather">
                    <div class="wind"></div>
                    <div class="airPressure"></div>
                    <div class="humidity"></div>
                </div>
                <div class="WeatherText">
                    <p>6 м/c</p>
                    <p>748 мм.</p>
                    <p>70 %</p>
                </div>         
            </div>
            <div class="rectangle3">
                <div class="timeDown" id="timeDownThree">14:00</div>
                <div class="rectangleBg3"></div>
                <div class="Temperature" id="TempThree">10°C</div>
                <div class="IconsWeather">
                    <div class="wind"></div>
                    <div class="airPressure"></div>
                    <div class="humidity"></div>
                </div>
                <div class="WeatherText">
                    <p>6 м/c</p>
                    <p>748 мм.</p>
                    <p>70 %</p>
                </div>     
            </div>
            <div class="rectangle4">
                <div class="timeDown" id="timeDownFour">20:00</div>
                <div class="rectangleBg4"></div>
                <div class="Temperature" id="TempFour">7°C</div>
                <div class="IconsWeather">
                    <div class="wind"></div>
                    <div class="airPressure"></div>
                    <div class="humidity"></div>
                </div>
                <div class="WeatherText">
                    <p>6 м/c</p>
                    <p>748 мм.</p>
                    <p>70 %</p>
                </div>     
            </div>
        </div>
    </div>
    <script src="scripts/script.js"></script>
</body>
</html>